*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
#wrapper
{
    height:100vh;
    width:100vw;
    overflow-x:hidden;/* right side mein scroll na kar sake*/
    overflow-y:auto;/* vertically scroll ho sake isliye*/
}
.container
{
    height:100%;
   width: 1200px;;
    margin:0 auto;/* isse container automatic center mein aa jaayega,*/
    padding:20px;
}
.container h1{ /*ye btaata hai ki ye container class kaa h1 element hai*/
    margin:20px 0;
    text-align:center;
    margin-bottom:20px;
    font-size:3rem;
    color:color-mix(in hsl shorter hue, color percentage, color percentage)
}
.gallery
{
    display:flex;
    flex-wrap:wrap;/*ye nahi karne saari image ek horizontal line mein aa rahi thi ,ye karne webpage ko jab squeeze karenge to ye automatic next line mein shift ho jaayegi*/
    justify-content:space-around;/*two images ke bich mein equal space rahe isliye*/
}
.card
{
  width:45%;/*isliye ek line mein three image aayenge total huaa 96% and 4% equal space dene ke liye*/
  position:relative;
  margin-bottom: 10px;
  border-radius:10px;/*ye box ke chaaro corner kaa shape badalne ke liye hota hai*/
  overflow:hidden;
  object-fit:cover;
}
.card img{
    height:100%;
    width:100%;
    filter:grayscale(100%);
    box-shadow:0 0 20px #333;
    object-fit:cover;/* ye dene kii koi jarurat nahi hai*/
}
.card:hover{
    transform:scale(1.23);/*image pe mouse jaane per ye image ko zoom effect daalta matlab image badaa dikhane lagta hai*/
    transition:0.5s;/*ye time btaata hai ki ye kitne samay tak hoga*/
    filter:drop-shadow(0 0 10px #333);

}
.card:hover img{
    filter:grayscale(0%)
}
.card figcaption{
    position:absolute;
    bottom:0;
    left:0;
    padding:25px;
    width:100%;
    height:20%;
    font-size:16px;
    font-weight:500;
    color:#fff;
    opacity:0;/*ye kisi text yaa kisi bhi chij ko gayab kar deta hai*/
    border-radius:0 0 10px 10x;
    background:linear-gradient(0deg rgba(0,0,0,0.5) 0%, rgba(255,255,255,0)100%);
    transition:0.3s;
}
.card:hover figcaption{
    opacity: 1;
    transform:scale(1.03);
}


